body{
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1280px;
  margin:auto;
  position: relative;
}

.button {
  display: block;
  margin: 100px auto 50px;
  border: none;
  background-color: aquamarine;
  padding: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.button_loading .button__title {
  visibility: hidden;
  opacity: 0;
}

.button_loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -80px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}


.button_hover:hover {
  scale: 1.2;
  transition: 0.2s ease-in;
}

